* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

#root{
    display:flex;
    flex-direction: column;
}

header{
    box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
    nav {
        a{
            margin-right: 40px;
            color:rgb(163, 94, 212);
            text-decoration: none;
            margin-left: 1rem;

            &:before {
                content : "[";
                position: relative;
                left: -5px;
                opacity: 0;
                transition: all 0.3s ease;

            }
            &:after {
                content : "]";
                position: relative;
                right: -5px;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &.active::after {
                opacity: 1;
                right: -10px;
                color:rgb(173, 114, 216);
            }
            
            &.active::before {
                opacity: 1;
                color:rgb(173, 114, 216);
            }

            &:focus{
                color:rgb(173, 114, 216);
            }

            &:hover {
                color:rgb(184, 134, 219);
            }

        }
    }
}

main {
    flex-grow: 1;
    .card {
        text-align: center;
    }
    .containerDetail {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

h1, h3{
    text-align: center;
    color: #7881bd;
}


