nav {
    .nav-link{
        margin-right: 60px;
    }

}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.logo {
    width:200px;
    height: 50px;
}

