* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

#root{
    display:flex;
    flex-direction: column;
}

header{
    box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
    nav {
        a{
            margin-right: 40px;
            color:rgb(163, 94, 212);
            text-decoration: none;
            margin-left: 1rem;

            &:before {
                content : "[";
                position: relative;
                left: -5px;
                opacity: 0;
                transition: all 0.3s ease;

            }
            &:after {
                content : "]";
                position: relative;
                right: -5px;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &.active::after {
                opacity: 1;
                right: -10px;
                color:rgb(173, 114, 216);
            }
            
            &.active::before {
                opacity: 1;
                color:rgb(173, 114, 216);
            }

            &:focus{
                color:rgb(173, 114, 216);
            }

            &:hover {
                color:rgb(184, 134, 219);
            }

        }
    }
}

main {
    flex-grow: 1;
    .card {
        text-align: center;
    }
    .containerDetail {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(34, 34, 34, 0.2);
    color: #6b76bf;
    font-weight: 600;
}

h1, h3{
    text-align: center;
    color: #7881bd;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-trash-can {
    cursor: pointer;
    color: #7881bd;
    font-size: 1.5rem;
}

.div-btnClear {
    display: flex;
    justify-content: flex-end;
    .btn-clear {
        background-color: #7881bd;
        color: #fff;
    }
    .btn-clear:hover {
        background-color: #8a92c3;
        color: #fff;
    }
}

.div-btnVacio, .div-img{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    .btn-vacio {
        background-color: #7881bd;
        color: #fff;
        border-radius: 5px;
        margin-left: 30px;
    }
    .btn-vacio:hover {
        background-color: #8a92c3;
        color: #fff;
        border-radius: 5px;
    }
}

.span-cantidad {
    color:#020202 !important;
    margin-left: 2px;
    border-radius: 90% !important;
}

.p-check{
    background-color: #7881bd;
}

.container-checkout{
    margin-top: 70px;
    .btn-checkout {
        background-color: #7881bd;
        color: #fff;
        border-radius: 5px;
        margin-left: 60px;
        width: 500px;
        border: none;
    }
    .btn-checkout:hover {
        background-color: #8a92c3;
        color: #fff;
        border-radius: 5px;
    }

}
.imgCart{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.thanks-container{
    margin-top: 10%;
    text-align: center;
    .thanks-btn{
        margin-top: 30px;
        background-color: #7881bd;
        color: #fff;
        border-radius: 5px;
        width: 400px;
        border: none;
    }
    .thanks-btn:hover {
        background-color: #8a92c3;
        color: #fff;
        border-radius: 5px;
    }
}

.btn-1 {
    background-color: #7881bd !important;
    color: #fff;
    border-radius: 5px;
    width: 300px;
    border: none !important; 
}

.btn-1:hover {
    background-color: #8a92c3 !important;
    color: #fff;
    border-radius: 5px;
}